@font-face {
    font-family: Product Sans;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

/*Esconde a barra lateral*/
body::-webkit-scrollbar {
    display: none;

}

#main {
    width: 100%;
    height: 100%;
    background-color: orangered;
}



.nav-menu {
    display: flex;
    gap: 50px;
    /*espaçamento entre os itens*/

}

.nav-container {
    position: fixed;
    display: flex;
    /*Faz ficar horizontal*/
    align-items: center;
    /*Coloca no centro*/
    justify-content: space-between;
    /*Colocar um espaço entre eles*/
    width: 100%;
    height: 10vh;
    z-index: 99;
    /*Coloca o conteúdo sobre os outros, se for negativo não fica sobre*/
}


.nav-container a {
    color: white;
    text-decoration: none;
    /*Tira a linha inferior*/
    font-size: 24px;


}


.nav-container img {
    width: 25px;
    height: 25px;
    object-fit: cover;

}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 64, 0))
}

.hero h1 {
    font-size: 25vw;
    /*1/4 da teça*/
    color: white;
}

#fanta {
    position: absolute;
    /*Permite o espaçamento abauluto*/
    width: 40%;
    z-index: 2;
}

#laranja-cortada {
    position: absolute;
    /*Aqui eu coloco qualquer lugar na tela*/
    width: 15%;
    top: 10%;
    /*Aqui coloco a opção no vertical*/
    left: 32%;
    /*Aqui coloco a opção no horizontal*/
    z-index: 2;
}

#laranja {
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;

}

#folha {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 18%;
    transform: rotate(60deg);
    /*Para rodar um pouco a imagem*/


}

#folha2 {
    position: absolute;
    width: 12%;
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
}


#folha3 {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}


/*Editando a segunda sessão*/

.two {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}

.left-side,
.right-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;


}

.left-side svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.right-side h2 {
    color: white;
    font-size: 5vw;

}

.right-side p {
    color: white;
    font-size: 1vw;
    /*O vw é referente a tela inteira*/
    width: 80%;
}

/*Editando a terceira sessão*/


.three {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 64, 0))
}

.card {
    position: relative;
    /*Ele é relativo ao pai*/
    display: flex;
    background: wheat;
    align-items: center;
    width: 25vw;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    height: 65vh;
    margin-top: 10vh;
    border-radius: 20px;

}

.card h3 {
    margin-top: 40vh;
    font-size: 3vw;
    color: black;


}

.card button {
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 149, 0);
    color: wheat;
    padding: 1vw 2vw;
}

#cocacola {
    position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#pepsi {
    position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.lemon {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}

@media (min-width: 68px) {


    .card {

        height: 650px;
    }
}